*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    box-shadow: 0 1px 10px rgb(196, 196, 196);
    position: fixed;
    background-color: white;
    z-index: 1;
}
.navbar-1{
    width: 50vw;
    display: flex;
    align-items: center;
    overflow-y:hidden;
}
.navbar-2{
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    width: 11vw;
    padding: 1vw;
}
.navbar-2>a{
    text-decoration: none;
    color: black;
}
.navbar-2>a:active{
    color: red;
}
.navbar-2>a:hover{
    color: red;
}
.wrapper{
    margin-top: 10vh;
    display: flex;
}
.leftwrap{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8vw;
    position: absolute;
    
}
.leftwrap>h1{
    font-size: 8vh;
    
}
.comfort{
    color: red;
}
.rightwrap{
    
    display: flex;
    align-items: center;
    overflow-y: hidden;
}
.rightimg{
    text-align: right;
    padding-left: 10vw;
}
.wwd{
    text-align: center;
    margin-top: 10vh;
    
}
.wwdimg{
    width: 3vw;
}
.yuvaraj>img{
    width: 25vw;
}
.wwdcon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.wwdcon>div{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}
.para{
    margin-top: 5vh;
    background-color: rgba(0, 0, 0, 0.11);
    padding: 2vw;
    border-radius: 10px;
}
.yuvaraj{
    width: 80vw;
    margin-top: 10vh;
}
#whatwedo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ourbrands{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}
.brandimgdiv{
    display: flex;
    align-items: center;
    margin-top: 10vh;

}
.brandimgdiv>div{
    margin:0  5vw;
}
.brandimg{
    width: 15vw;
    
}
@media only screen and (max-width: 600px){
    .navbar{
        flex-direction: column;
        width: 100vw;
    }
    .navbar-1{
        width: 100vw;
        margin-top: 2vh;
        align-items: center;
        justify-content: center;
    }
    .logo{
        width: 30vw;
    }
    .navbar-2{
        width: 100vw;
        margin-bottom: 1vh;
    }
    .wrapper{
        flex-direction: column;
    }
    .leftwrap{
        height: fit-content;
        margin-top: 3vh;
        justify-content: center;
        
    }
    .leftwrap>h1{
        font-size: 4.5vw;
    }
    .wwd{
        margin-top: 5vh;
    }
    .wwdcon>div{
        margin-top: 5vh;
        width: 80vw;
    }
    .wwdcon>div>img{
        width: 12vw;
    }
    .yuvaraj{
        margin-top: 5vh;
    }
    .yuvaraj>img{
        width: 80vw;
    }
    .para{
        padding: 5vw;
    }
    .wwdcon{
        flex-direction: column;
    }
    .brandimgdiv{
        flex-direction: column;
    }
    .brandimgdiv>div>img{
        width: 60vw;
        margin-top: 5vh;
    }
}